.header {
    $self: &;

    &__links {
        a {
            margin-left: 10px;
        }
    }
    &__logo {
        transition: width 1s;
        transition-timing-function: ease;
    }
    &__container {
        background-color: transparent;
        box-shadow: 0px rgba(0, 0, 0, 0.2);
    }
    &--collapsed {
        min-height: 256px;
        #{ $self }__links {
            display: flex;
        }

        #{ $self }__logo {
            width: 10%;
        }
   
        #{ $self }__container {
            background-color: white;
            box-shadow: 20px -15px 15px 20px rgba(0, 0, 0, 0.2);
        }

        #{ $self }__col {
            display: flex;
        }

        @screen md {
            min-height: 0px;
            #{ $self }__nopal {
                display: inline;
            }
        }

    }
}
