.header {
    $self: &;

    &__now-playing {
        span {
            font-family: 'Birch Std';
        }
        span:first-child {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: transparent;
            margin-right: 5px;
            display: inline-block;
            animation: live-animation 0.7s ease infinite alternate;
            @keyframes live-animation {
                0% {
                    background-color: transparent;
                }
                100% {
                    background-color: red;
                }
            }
        }
    }

    &__links {
        a {
            margin-left: 10px;
        }
    }

    &--collapsed {
        min-height: 256px;
        #{ $self }__links {
            display: flex;
        }
   
        #{ $self }__container {
            animation: 
            bg-animation 3s ease infinite alternate, 
            collapse-animation 1s normal forwards;
        }

        #{ $self }__col {
            display: flex;
        }

        @screen md {
            min-height: 0px;
            #{ $self }__nopal {
                display: inline;
            }
        }

    }

    @keyframes collapse-animation {
        0% {
          background-color: coral;
        }
        50% {
            background-color: rgba(128,128,128,1);
        }
        100% {
          background-color: coral;
        }
    }

}
